.git
.github
.gitignore
.dockerignore
.DS_Store
.idea
.vscode

.env
.env.*
!.env.example

coverage.out
node_modules
**/node_modules
.pnpm-store
**/dist
test-results
**/test-results
playwright-report
**/playwright-report
blob-report
**/blob-report
.vercel
**/.vercel

*.log
*.prof
*.trace
*.test

docs
mermaid-diagram.png
